.navbar {
  background-color: rgba(224, 222, 192, 0.466);
  width: 100%;
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.title {
  font-family: Poppins;
  font-size: xx-large;
  text-align: center;
  font-weight: bolder;
}

.favourites {
  height: 100%;
  align-self: center;
  color: rgb(111, 116, 112);
  padding: 5px;
  font-size: x-large;
}

.favourites:hover {
  cursor: pointer;
  color: rgb(77, 80, 78);
}

.link {
  text-decoration: none;
  color: crimson;
}

.link:hover {
  color: rgb(126, 26, 46);
}
