@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

.App {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  font-family: "Poppins", sans-serif;
}
